.dropdown .table-drop-dots {
    background: none;
    color: black;
    border: none;
}

img {
    max-width: 100%;
}
td {
     word-break: break-word;
 }

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
button:focus {
    outline: none !important;
}
table {
    table-layout: fixed;
}
table td img {
    border-radius: 50%;
    border: 1px solid green;
}
#root .table td, .table th {
    vertical-align: middle;
}

.main-avatar {
    text-align: center;
    border-radius: 50%;
}

.user-profile .name {
    margin-top: 20px;
}
.thumb-form {
    display: block;
    margin-top: 20px;
    max-width: 200px;
}

.alert.notification {
    position: absolute;
    bottom: 40px;
    right:40px;
    max-width: 300px;
}

.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-exit {
    display: none;
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.dropdown-menu.show {
    transform: translate3d(0, 35px, 0) !important;
    min-width: 0;
    left: auto !important;
    right: 100% !important;
}

.name-td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.avatar-td{
    width: 120px;
}


@media (max-width: 600px) {
    #root .table td {
        padding-right: 5px;
        padding-left: 5px;
    }
    .avatar-td{
        width: 70px;
    }
    .name-td {
        max-width: 100px;
    }
    .hidden-600px {
        display: none;
    }
}